@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
.f-kalam {
  font-family: 'Kalam', cursive;
}


@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body{
  font-family: 'Noto Sans TC',sans-serif;
}


.test {
  outline: 1px solid red;
}
.cursor-pointer {
  cursor:pointer;
}





